# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

PAYPAL_CLIENT_ID="Abqhij49wrgTDvmw5nHjgGqvWJG62Umbf2yeUcmVeYcYNZQ2Gs3f4MZis0mWT4eapLdUyw9XUPLiBfmW"
PAYPAL_CLIENT_SECRET="EMTG4xNqiamsStLRJ9MFJWBsH6uZ_aEk2qjwhC32AtM91yAV7Lf1hL7oK8l8SKYfqoSdc_sJCcJOSs79"
